<%- include('partials/header') %>

<section id="stumain">
    <div id="maincontainer">
        <h1 id="mainhead" class="p-3">Studylight</h1>
        <div class="dropdown">
            <button class="btn btn-outline-light m-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="">Profile</a></li>
              <li><a class="dropdown-item" href="/">Logout</a></li>
            </ul>
          </div>
    </div>
    <hr>
    <div class="row w-100">
        <div class="name-section col-lg-6">
            <h3 class="h3 sub-heading pb-2 wish">Welcome back</h3>
            <h1 class="h1 main-heading pt-2">Charanraj</h1>
        </div>
        <div class="work-section col-lg-6">
            <div class="row">
                <div class="col-lg-6"><h3>
                    <a href="" class="btn btn-outline-light btn-lg p-3 m-3"><i class="mx-2 fa-lg fas fa-calendar-alt"></i>Timetable</a>
                </h3></div>
                <div class="col-lg-6"><h3>
                    <a href="" class="btn btn-outline-light btn-lg p-3 m-3"><i class="mx-2 fa-lg fas fa-plus-circle"></i>Create a class</a>
                </h3></div>
            </div>
        </div>
    </div>    
</section>

<section id="stubody">
    <div class="row w-100">
        <div class="col-lg-3">
            <div class="card mx-auto text-center my-3 border-dark sticky-top" style="max-width: 18rem;">
                <div class="card-header text-white">    
                  <h3 class="h3 card-title">Tests posted</h3>
                </div>
                <div class="card-body bg-light">
                  <i class="fas fa-3x p-3 fa-check-circle"></i>
                  <p class="card-text">Nothing posted</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row py-5">
                <% for (var i =1; i <=21;  i++ ) { %>
                    <div class="col-lg-4 text-center">
                        <div class="classes card border-secondary mb-3">
                            <div class="class-header p-3">
                                <h3 class="card-title">Card title</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Teacher name</p>
                                <a href="" class="btn btn-outline-dark btn-sm">View class</a>
                            </div>
                        </div>             
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mx-auto text-center my-3 border-dark sticky-top" style="max-width: 18rem;">
                <div class="card-header text-white">   
                  <h3 class="h3 card-title">Assignments</h3>
                </div>
                <div class="card-body bg-light">
                  <i class="fas fa-3x p-3 fa-check-circle"></i>
                  <p class="card-text">Nothing posted</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const time = new Date().getHours();
    let greeting;
    if (time < 10) {
    greeting = "Good morning";
    } else if (time < 15) {
    greeting = "Good afternoon";
    } else {
    greeting = "Good evening";
    }
    document.getElementsByClassName("wish")[0].innerHTML = greeting;
</script>

<%- include('partials/footer') %>
