body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
}

.container-fluid{
    text-align: center;
    padding:7% 15%;
}

                                        /* home.ejs */

/* home */

#home{
    background-image: url(./images/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding:8% 12%;
    text-align: center;
}

.main-heading{
    font-family: 'Roboto', sans-serif;
    color: #2A0944;
    font-size: 4rem;
}

#home .col-lg-7{
    padding: 5%;
}

.sub-heading{
    font-size:1.8rem;
    color:#CEE5D0;
}

#home .text-center a{
    color:#CEE5D0;
    font-size: 1.5rem;
}

#home .text-center a:hover{
    cursor: pointer;
    font-size:1.6rem;
    text-shadow: 3px 3px #2A0944;
}

/* featues */

#features .col-lg-6{
    padding:3% 8%;
}

#features .card-title{
    font-size: 2rem;
    color:#2A0944
}

.fname{
    color: #2A0944;
}

/* footer  */

#contact a{
    color:white;
}

footer .container-fluid{
    padding:2%;
    background-color: #1A0944;
}

.bname{
    font-family: 'Montserrat', sans-serif;
}

                                        /* student,teacher homepage */

#stumain{
    background-image: linear-gradient(to right, #5f0a87, #751c87, #872d87, #973e88, #a4508b);
}

hr{
    background-color: white;
    width:90%;
    margin:auto;
}

#mainhead{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
    display: inline-block;
}

#maincontainer{
    width:70%;
    margin: auto;
}

#stumain .main-heading{
    color:white;
}

.name-section{
    padding:5% 15%;
}

.work-section{
    padding:3%;
}

.work-section button{
    width:80%;
    text-align: left;
}

.work-section h3{
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

#stubody .card-header{
    background-color: #512D6D;
}

#stubody .card-title{
    font-family: 'Roboto', sans-serif;
}

#stubody .card-text{
    font-size: larger;
    font-weight: bolder;
}

.classes{
    background-image: linear-gradient(to right top, 
    #a88beb, #b391eb, #bd96eb, #c69deb, 
    #cfa3eb, #cfa3eb, #cfa3eb, #cfa3eb, 
    #c69deb, #bd96eb, #b391eb, #a88beb);
}

                                        /* classes */

.classcontainer{
    padding:5% 10%;
}

.classcontainer h2,.classcontainer h3,.classcontainer h4{
    font-family: 'Roboto', sans-serif;
    color:white;
}

#classstream{
    padding:2%;
}

#classstream .col-lg-3 .card-header{
    background-color: #512D6D;
}

#streamTab .nav-link{
    color: #2A0944;
}

#streamTab .nav-link:hover{
    background-color: #a88beb;
}

#streamTab .active{
    background-color: #c69deb;
    font-weight: bolder;
}

#streamTabContent .tab-pane{
    border: 1px solid#2A0944;
}
